.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input2 {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bFF;
    color: white;
    cursor: pointer;
}